<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.team3.mapper.UserInfoMapper">

	<select id="selectUserInfos"
		resultType="com.game.team3.vo.UserInfoVO">
		SELECT * FROM user_info;
		<where>
			<if test='uiName != null and uiName !="" '>
				AND UI_NAME LIKE CONCAT ('%',#{uiName},'%') 
			</if>
			<if test="uiNum !=0">
				AND UI_NUM = #{uiNum}
			</if>
		</where>
	</select>

	<select id="selectUserInfo"
		resultType="com.game.team3.vo.UserInfoVO">
		SELECT * FROM user_info
		WHERE UI_NUM = #{uiNum}; 
	</select>

	<insert id="insertUserInfo"   
		parameterType="com.game.team3.vo.UserInfoVO">
		INSERT INTO user_info(UI_NAME, UI_ID, UI_PWD)
		VALUES(#{uiName},#{uiId},#{uiPwd});
	</insert>

	<update id="updateUserInfo"
		parameterType="com.game.team3.vo.UserInfoVO">
		UPDATE user_info
		SET UI_NAME = #{uiName},
		UI_ID = #{uiId},
		UI_PWD = #{uiPwd}
		WHERE UI_NUM = #{uiNum};
	</update>
	
	<delete id="deleteUserInfo" parameterType="com.game.team3.vo.UserInfoVO">
		DELETE FROM user_info WHERE UI_NUM=#{uiNum}; 
	</delete>
</mapper>